# Игнорировать временные файлы Python
*.pyc
__pycache__/
.ipynb_checkpoints

# Игнорировать файлы среды разработки
.idea/
.vscode/

# Игнорировать файлы логов
*.log

# Игнорировать каталоги виртуальных окружений
venv/
.env/

# Игнорировать настройки системы
.DS_Store
Thumbs.db

# Игнорирование данных
data/

# Игнорирование логов
outputs/
logs/
results/
paper

# VSC
DINA.code-workspace

#игнорирование файлов юпитер ноутбука
*.ipynb